# Telegram API Credentials from my.telegram.org
API_ID="30909975"
API_HASH="864aedd8c6409ceee3a74baa2d867566"

# Bot Token from @BotFather
BOT_TOKEN="8661942576:AAGC5bvWUTQMqCEhtYKdbDQL8rsrStWLHfk"

# Bot Username without the "@"
BOT_USERNAME="nghostingbot"

# Admin User ID (your Telegram user ID) for special commands like /broadcast
ADMIN_ID="8069548479"

# MongoDB Credentials
MONGO_URI="mongodb+srv://s92035198_db_user:<db_password>@cluster0.kqrkuiu.mongodb.net/?appName=Cluster0"

# Base URL for the FileBrowser service (the IP or domain of your server)
# IMPORTANT: This must be accessible from the internet. Use your server's public IP.
# Example: http://192.168.1.100
FILEBROWSER_API_URL = "http://93.127.136.209:8082"
FILEBROWSER_ADMIN_USER = "admin"
FILEBROWSER_ADMIN_PASS = "AdminDemo1234"
FILEBROWSER_PUBLIC_URL = "http://93.127.136.209:8082"
PORT = "8082"
